#contenedorLogo{
    text-align: end;
    margin-top: 11px;
    a{
        font-size: 80px;
        color: $colorLetraPrincipal;
    
}
a:hover{
    color: $colorLetraPrincipalHover;
    text-shadow: 1px 1px 2px black;
}
}

#menuPrincipal {
    background-color: $colorFondoPrincipal;
    border-bottom: rgba(116, 113, 113, 0.247) solid 1px;

   

}


#menuNavegacion, #menuRedesSociales{
   

    a, i{
        color: $colorLetraPrincipal;
        
    }
    
    a:hover, i:hover {
        color: $colorLetraPrincipalHover;
    }
    
    a{
        font-size: 18px;
        
    }
    
    
    i{
      font-size: 40px;
      margin: 5px;
      
    }
}

#menuNavegacion{
    a {
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 70%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size 1s;
    }
    a:hover, a:focus {
        background-size: 100% 1px;
    }
}

#imagenesCarousel{
    height: 600px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.068);

    img{
        width: 100%;
        height: 100%;
    }
}