* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7efe7;
}

main {
  padding-top: 80px;
}

#contenedorLogo {
  text-align: end;
  margin-top: 11px;
}

#contenedorLogo a {
  font-size: 80px;
  color: #3b0e35;
}

#contenedorLogo a:hover {
  color: #a52894;
  text-shadow: 1px 1px 2px black;
}

#menuPrincipal {
  background-color: #f7efe7;
  border-bottom: rgba(116, 113, 113, 0.247) solid 1px;
  position: fixed;
  z-index: 100;
  height: 80px;
}

#menuNavegacion a, #menuNavegacion i, #menuRedesSociales a, #menuRedesSociales i {
  color: #3b0e35;
}

#menuNavegacion a:hover, #menuNavegacion i:hover, #menuRedesSociales a:hover, #menuRedesSociales i:hover {
  color: #a52894;
}

#menuNavegacion a, #menuRedesSociales a {
  font-size: 18px;
}

#menuNavegacion i, #menuRedesSociales i {
  font-size: 40px;
  margin: 5px;
}

#menuNavegacion a {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 70%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

#menuNavegacion a:hover, #menuNavegacion a:focus {
  background-size: 100% 1px;
}

#imagenesCarousel {
  height: 600px;
  -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.068);
          box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.068);
}

#imagenesCarousel img {
  width: 100%;
  height: 100%;
}

#productosNovedades div {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.336);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.336);
  margin-bottom: 10px;
}

#productosNovedades div:hover {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.575);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.575);
}

#productosNovedades img {
  height: 80%;
}

#productosNovedades h4 {
  color: #3b0e35;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

#productosNovedades p {
  color: #af1168;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

#titulosNovedades h2 {
  font-size: 30px;
  font-weight: bold;
}

#titulosNovedades h3 {
  font-size: 17px;
  color: #4d4d4d;
  font-style: oblique;
}

#footer {
  background-color: rgba(117, 74, 18, 0.404);
  padding-top: 10px;
}

#footer a {
  padding: 0;
  color: #3b0e35;
}

#footer a:hover {
  color: #a52894;
}

#footer h2 {
  font-size: 25px;
  font-style: oblique;
}

#footer .col-4 {
  border-left: solid rgba(126, 88, 71, 0.233) 1px;
}

#contactateFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#contactateFooter h2 {
  height: 30px;
  -webkit-transform: translate(125px);
          transform: translate(125px);
}

#contactateFooter a {
  position: relative;
  display: block;
  overflow: hidden;
}

#contactateFooter span {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

#contactateFooter a span:first-child {
  display: inline-block;
  padding: 4px;
}

#contactateFooter a span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  margin-right: 50px;
}

#contactateFooter i {
  font-size: 30px;
}

#contactateFooter a:hover span:first-child {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

#contactateFooter a:hover span:last-child, #contactateFooter [data-animation] a:hover span:last-child {
  -webkit-transform: none;
          transform: none;
}

#contactateFooter [data-animation="to-top"] a span:last-child {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

#contactateFooter [data-animation="to-top"] a:hover span:first-child {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#contactateFooter [data-animation="to-right"] a span:last-child {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#contactateFooter [data-animation="to-right"] a:hover span:first-child {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#contactateFooter [data-animation="to-left"] a span:last-child {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#contactateFooter [data-animation="to-left"] a:hover span:first-child {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#divSuscribite h2 {
  text-align: center;
}

#listaDeProductos {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
}

#listaDeProductos .card {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.336);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.336);
  margin-bottom: 10px;
}

#listaDeProductos .card:hover {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.575);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.575);
}

#listaDeProductos img {
  height: 400px;
}
/*# sourceMappingURL=estilos.css.map */